<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About —— POC Database{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{%  endblock %}
    <style>{% block style %}{% endblock %}</style>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav id="navbar">
        <div class="nav-container">
            <a href="/spec_cpu2017">SPEC CPU2017</a>
            <a href="/stream">Stream</a>
            <a href="/hpl">HPL</a>
            <a href="/unixbench">UnixBench</a>
            <a href="/cvt_mlc">AMD CVT & Intel MLC</a>
            <a href="/lmbench">Lmbench</a>
            <a href="/sysbench">Sysbench</a>
        </div>
    </nav>
    </header>

    <!-- 页面内容 -->
    <main class="content">
        {% block content %}
        <div>
            <h1>POC_DataBase</h1>
            <p><strong>版本：</strong>{{ version }}</p>
            <p><strong>作者：</strong>{{ author }}</p>
            <p><strong>联系方式：</strong><a href="mailto:{{ contact }}">{{ contact }}</a></p>

            <h2>项目简介</h2>
            <p>{{ description }}</p>

            <h2>版本说明</h2>
            <ul>
                <li>✔ 灰度测试版本；</li>
                <li>✔ 更新了数据库；</li>
                <li>✔ 修改了页面分组逻辑。</li>
            </ul>

            <h2>技术栈</h2>
            <p>后台数据库：SQLite + SQLAlchemy Core API</p>
            <p>前端框架：Flask + Jinja2 + Bootstrap</p>
        </div>
        {% endblock %}
    </main>

    <!-- 页脚 -->
    <footer id="footer" class="mt-auto bg-dark text-white text-center py-3">
        <p>&copy; 2025 New H3C Technologies Co., Ltd.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

