{% extends "base.html" %}
{% import "_search_form.html" as forms %}

{% block title %}UnixBench System Benchmarks Index Scores{% endblock %}

{% block content %}
<!--body-->
  <h2>UnixBench System Benchmarks Index Scores</h2>
<!--搜索框-->
  {{ forms.search_form(url_for('unixbench'), cpu_model) }}
{% if cpu_model and grouped_data %}
    <table>
        <thead>
            <tr>
                <th>CPU Model</th>
                <th>Score</th>
                <th>Threads</th>
                <th>Compiler</th>

            </tr>
        </thead>
        <tbody>
            {% for cpu_key, group in grouped_data.items() %}
            <tr>
                <td colspan="8"><strong>{{ cpu_key[0] }} - {{ cpu_key[1] }}</strong></td>
            </tr>
            {% for row in group %}
            <tr>
                <td>{{ row['cpu_model'] }}</td>
                <td>{{ row['score'] }}</td>
                <td>{{ row['threads'] }}</td>
                <td>{{ row['compiler'] }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% elif cpu_model %}
    <p class="none-value">No results found for "{{ cpu_model }}".</p>
{% endif %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/unixbench.css') }}">
{% endblock %}
